# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
.env

# Logs
*.log
logs/

# OS (Windows / Mac)
.DS_Store
Thumbs.db

# Editor
.vscode/

# ESLint cache
.eslintcache

# TypeScript
*.tsbuildinfo